.page {
  height: 100%;
}

.card {
  margin: 24rpx 24rpx 0;
  border-radius: 16rpx;
  background: #fff;
}

.exam-info-wrap {
  .exam-info-header {
    display: flex;
    justify-content: space-between;
    padding: 24rpx;
    font-size: 24rpx;
    line-height: 32rpx;
    color: $u-content-color;
    border-bottom: 2rpx solid #f5f5f5;
  }

  .exam-content-wrap {
    display: flex;
    padding: 24rpx 24rpx 40rpx;

    .exam-content {
      flex: 1;
      margin-left: 16rpx;
      font-weight: 500;
      font-size: 32rpx;
      line-height: 40rpx;
      color: $u-main-color;

      .exam-price {
        font-size: 28rpx;
        line-height: 44rpx;
        color: $u-type-error;
      }
    }
  }

  .exam-li {
    padding: 0 24rpx 24rpx;
    color: $u-content-color;
  }
}

.exam-li {
  display: flex;
  justify-content: space-between;
  font-size: 28rpx;
  line-height: 36rpx;
}

.exam-ul {
  padding: 24rpx;

  .exam-li {
    color: $u-main-color;

    & + .exam-li {
      padding-top: 24rpx;
    }

    .exam-li-r {
      font-weight: bold;
    }

    &:nth-child(1) {
      .exam-li-r {
        color: $u-type-error;
      }
    }
  }

  .exam-ul-title {
    font-size: 28rpx;
    line-height: 36rpx;
    color: $u-main-color;
  }

  .exam-ol {
    padding-top: 24rpx;
    font-size: 24rpx;
    line-height: 32rpx;
    color: $u-content-color;

    .a {
      color: $u-type-primary;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rpx 24rpx;
  width: 100%;
  border-top: 1rpx solid #e0e0e0;
  background: #fff;

  .price-wrap {
    display: flex;
    align-items: center;
    font-size: 24rpx;
    line-height: 32rpx;
    color: $u-main-color;

    .price {
      font-weight: bold;
      font-size: 48rpx;
      line-height: 48rpx;
      color: $u-type-error;
    }

    .price-rmb {
      font-size: 28rpx;
    }
  }

  .pay {
    margin: 0;
    width: 284rpx;
    height: 80rpx;
  }
}
