@import './_minix.scss';

uni-page-body,
html,
body,
.page {
  font-size: 16px;
  font-weight: 400;
  min-height: 100%;
  background: #f5f5f5;
  color: $uni-text-color;
}

page {
  height: 100%;
  background: $u-bg-color;
}

/* u-tabbar样式修改 */
.u-tabbar__content__item__button {
  top: 8rpx !important;
}

.u-tabbar__content__item__text {
  font-size: 20rpx;
  bottom: 8rpx !important;
}

/* u-notice-bar样式修改 */
.u-notice-bar {
  padding: 0 !important;
}

.u-news-item {
  font-size: 12px !important;
  line-height: 16px !important;
}

/* 输入框select icon更换成箭头 */
.uicon-arrow-down-fill:before {
  content: '\e605' !important;
}

/* swiper dot指示器样式修改 */
.u-indicator-item-dot {
  height: 12rpx;
  width: 12rpx;
}
