@font-face {
  font-family: "custom-icon"; /* Project id 3185154 */
  src: url('http://oss.bm001.com/static/association/credit-cert-h5/iconfont/iconfont.woff2') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-chaxunmoren:before {
  content: "\e698";
}

.custom-icon-wodemoren:before {
  content: "\e699";
}

.custom-icon-kaoshimoren:before {
  content: "\e69a";
}

.custom-icon-baomingmoren:before {
  content: "\e69b";
}

