@font-face {
  font-family: 'custom-icon'; /* Project id 3185154 */
  src: url('http://oss.bm001.com/static/association/credit-cert-h5/iconfont/iconfont.woff2')
    format('woff2');
}

.custom-icon {
  font-family: 'custom-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-a-right2:before {
  content: '\e9a1';
}

.custom-icon-baomingjilu:before {
  content: '\e6b4';
}

.custom-icon-lianxikefu:before {
  content: '\e6b5';
}

.custom-icon-anquan:before {
  content: '\e6a9';
}

.custom-icon-shengyushijian:before {
  content: '\e6ab';
}

.custom-icon-shoujihao:before {
  content: '\e69c';
}

.custom-icon-xingming:before {
  content: '\e69d';
}

.custom-icon-touxiang:before {
  content: '\e69e';
}

.custom-icon-shenfenzhenghao:before {
  content: '\e69f';
}

.custom-icon-xuanchengji:before {
  content: '\e6a0';
}

.custom-icon-kancuoti:before {
  content: '\e6a1';
}

.custom-icon-zhongxinkao:before {
  content: '\e6a2';
}

.custom-icon-kandaandianji:before {
  content: '\e6a3';
}

.custom-icon-kaishikaoshi:before {
  content: '\e6a4';
}

.custom-icon-zanting:before {
  content: '\e6a5';
}

.custom-icon-kandaanmoren:before {
  content: '\e6a6';
}

.custom-icon-chashijuan:before {
  content: '\e6a7';
}

.custom-icon-tiwen:before {
  content: '\e6a8';
}

.custom-icon-shangchuanshenfenzheng:before {
  content: '\e6aa';
}

.custom-icon-zhongyaotongzhi:before {
  content: '\e6ac';
}

.custom-icon-yanzhengma:before {
  content: '\e6ad';
}

.custom-icon-kefu:before {
  content: '\e6ae';
}

.custom-icon-dianhua:before {
  content: '\e6af';
}

.custom-icon-kaoshiliucheng:before {
  content: '\e6b0';
}

.custom-icon-tongzhi:before {
  content: '\e6b1';
}

.custom-icon-guanyuwomen:before {
  content: '\e6b2';
}

.custom-icon-xiangguanzhengce:before {
  content: '\e6b3';
}

.custom-icon-chaxunmoren:before {
  content: '\e698';
}

.custom-icon-wodemoren:before {
  content: '\e699';
}

.custom-icon-kaoshimoren:before {
  content: '\e69a';
}

.custom-icon-baomingmoren:before {
  content: '\e69b';
}
