// 此自定义uView主题生成于2022-02-16 11:11
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #0052d9;
$u-type-error: #e34d59;
$u-type-warning: #dfc483;
$u-type-success: #00a870;
$u-type-info: #cccccc;

$u-type-primary-light: #ecf5ff;
$u-type-error-light: #fef0f0;
$u-type-warning-light: rgba(#dfc483, 1);
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;

$u-type-primary-dark: #2b85e4;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: rgba(#dfc483, 1);
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;

$u-type-primary-disabled: rgba(#0052d9, 0.4);
$u-type-error-disabled: #030303;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;

$u-main-color: #333333;
$u-content-color: #666666;
$u-tips-color: #999999;
$u-light-color: #cccccc;

$u-border-color: #eaeaea;
$u-bg-color: #f7f7f7;

$u-form-item-border-color: #eaeaea;
$u-form-item-height: 70rpx;

$ossUrl: 'http://oss.bm001.com/static/association/credit-cert-h5/images/';
